<!DOCTYPE html>
<html lang="ru">
{% include "head.html" %}
<body>
  <div class="container-fluid">
    <div class="row">
      {% include "panel.html" %}
        <div class="col-md-8 col-lg-9 content-container" style="background-color: #87cdf8">
            <h1 class="h3 text-center mt-5">Сбор твитов по локации</h1>
            <h2 class="lead text-center">проект по препроцессингу</h2>
            <hr class="mb-5">

            <section >
                <p style="height: 5000px;">Сервис микроблогов <a href="https://twitter.com">Twitter</a></p>
            </section>
        </div>
    </div>
  </div>
</body>
</html>