<!DOCTYPE html>
<html lang="ru">
{% include "head.html" %}
<body>
  <div class="container-fluid">
    <div class="row">
      {% include "panel.html" %}
        <div class="col-md-8 col-lg-9 content-container" style="background-color: #b6daf0">
            <h1 class="h3 text-center mt-5">Сбор твитов по локации</h1>
            <h2 class="lead text-center">проект по препроцессингу</h2>
            <hr class="m-5 text-center">

            <div class="frame-inner" style="margin-left: 100px; margin-right: 100px;">
                <p>Сервис микроблогов <a href="https://twitter.com">Twitter</a> позволяет пользователям среди прочего указывать локацию, из которой они отправляют твиттер. Если воспользоваться этим знанием, можно предположить, что если собрать твиты, отправленные из локации, где ожидается использование малого языка, можно будет</p>
                <ul>
                	<li><p>с большей точностью определить язык твита, если это не язык, доминирующий, например, в данном государстве (например, по-русски и по-английски в России твитят везде, а по-татарски только в Татарстане)</p></li>
                	<li><p>оценить активность носителей в интернете</p></li>
                	<li><p>собрать базу пользователей, пишущих на данном языке (с возможной целью расширения корпусов за счёт из постов)</p></li>
                </ul>
                <p>К сожалению, данный подход оказался не слишком удачным:</p>
                <ul>
                    <li><p>слишком малое количество пользователей позволяет Твиттеру публиковать своё местоположение</p></li>
                    <li><p>носители малых языков с письменностью, содержащей нестандарные символы, игнорирует их либо использует произвольные альтернативы</p></li>
                    <li><p>официальный Twitter API позволяет бесплатно загружать только твиты за последнюю неделю</p></li>
                </ul>
                <p>В результате данным методом удалось поймать только твиты на татарском языке. Впрочем, ручной поиск показал, что твитов на данных языках действительно почти нет, а значит лучше использовать какие-то другие сервисы.</p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>