<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "panel.html" %}

<div class="container">
    <div class="page-header">
        <h1>Шаблон страницы языка</h1>
    </div>
    <blockquote class="twitter-tweet"><p dir="ltr">А есть ли какие-то малые народы России, за которыми водится использование твиттера на родном языке?</p>&mdash; не спи - кругом ретрофлексят (@sanmelisan) <a href="https://twitter.com/sanmelisan/status/1206894414460866562">December 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <p>Вот так важно!</p>
</div>
<blockquote class="twitter-tweet"><p dir="ltr">А есть ли какие-то малые народы России, за которыми водится использование твиттера на родном языке?</p>&mdash; не спи - кругом ретрофлексят (@sanmelisan) <a href="https://twitter.com/sanmelisan/status/1206894414460866562">December 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
{% include "scripts.html"}
</body>
</html>